body {
  background-color: #f4f4f4;
  font-family: Courier, monospace !important;
}

h2 {
  font-size: 1.5rem;
  font-variant: small-caps;
  margin-top: 10px;
}

h3 {
  font-size: 1.2rem;
  font-variant: small-caps;
}

table, th, td {
  border: 0.5px solid black;
  text-align: left;
  vertical-align: bottom;
}

td, th {
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

th {
  background-color: #FFFF8D;
  font-weight: bold;
  font-size: 1.1rem;
  font-variant: small-caps;
}
#file-header {
  text-align: center;
}

#information {
  margin-bottom: 4px;  
}

#information tr {
  font-variant: small-caps;
}

#table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#table-wrapper table {
  margin-left: 4px;
  margin-right: 4px;
  display: inline-table;
}
